.about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 90px;
  padding: 25px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
}

.about-page > p {
  margin-bottom: 20px;
}
