.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vw;
  margin-bottom: 20px;
  margin-inline: 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff;
}

.contact-form {
  border: none;
  background-color: rgb(243, 241, 241);
  border-radius: 5px;
}

.contact-form-container {
  width: 100%;
}
