.container-dashboard {
  margin-bottom: 90px;
}

.goal-link {
  text-decoration: none;
  color: black;
}

.goal-link:hover {
  color: gray;
}

.habits-container {
  border-radius: 15px;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px gray;
}

.habits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 15px;
  margin-inline: 10px;
  padding-inline: 10px;
  margin-bottom: 5px;
}

.habits-info {
  padding-bottom: 5px;
}

.goals-container {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 10px;
}

.goals-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .show {
//   display: block;
//   // margin: 80px auto;
//   padding: 10px;
//   padding-top: 80px;
// }

.goals {
  background-color: whitesmoke;
  border-radius: 15px;
  margin-inline: 10px;
  padding-inline: 10px;
  margin-bottom: 5px;
}

.checkbox {
background-color: transparent;
height: 40px;
width: 40px;
border: 2px solid black;
padding-top: 18px;
}

.form-check-input[type="checkbox"] {
border-radius: .65em;
}

.form-check-input {
  margin-top: 1.10em;
}

.form-check-input.is-valid:checked {
  background-color: #FA9D2A;
  border-color: transparent;
}

.form-check-input:checked {
  background-color: #FA9D2A;
  border-color: transparent;
}

.habits h5 {
  font-size: 21px;
}

.goals-card h5 {
  font-size: 21px;
}
