.checkbox-dashboard {
background-color: whitesmoke;
border-radius: 15px;
padding-top: 14px;
padding-bottom: 10px;
margin-inline: 10px;
margin-bottom: 2px;
}

.habits-content {
  text-align: center;
  justify-content: start;
}

.goal-dashboard {
  background-color: whitesmoke;
  border-radius: 20px;
}

.goal-link {
  text-decoration: none;
  color: black;
}

.goal-link:hover {
  color: gray;
}

.habits-container {
  border-radius: 15px;
  background-color: white;
}

.goal-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show {
  display: block;
  // margin: 80px auto;
  padding: 10px;
  padding-top: 80px;
}
