.profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  // margin-bottom: 90px;
  padding: 25px;
}

.weather {
  height: 100px;

}

.weatherwidget-io {
  width: 360px;
  height: 100px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 10px;
}

.book-otm {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px gray;
  width: 360px;
  margin-bottom: 10px;
  justify-content: space-around;
  padding-inline: 20px;
}

.quote-otd {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px gray;
  width: 360px;
  margin-bottom: 10px;
  justify-content: space-around;
  padding-inline: 20px;
}
