.upgrade {
 margin-top: 25vw;
}

.upgrade-card {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-left: 5%;
  padding: 15px;
  box-shadow: 0px 0px 5px gray;
}
