
<%# <button type="button" class="btn btn-plus" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <i class="fa-solid fa-circle-plus"></i>
</button> %>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog pop-up">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add new Goal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
          <%= render "goals/form" %>
          <%= link_to "Back", dashboard_path, class: "btn btn-gradient mt-3" %>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
