<div class="about-page">
  <h2 class="text-center mb-4"><u>What is .SELF about :</u></h2>
  <p>
    As the famous  "your life is like a jigsaw" analogy is a way of explaining that life is made up of many different pieces, each of which contributes to the overall picture. Just like a jigsaw puzzle, each piece of your life plays a unique and important role in the overall picture of your life.
  </p>

  <p>
    For example, your career, your relationships, your hobbies, and your personal goals are all pieces that are your life. Each of these pieces has its own shape, color, and texture, and when they are all put together, they create a beautiful and complex picture.
  </p>

  <p>
    Your life is a work in progress. As you go through life, you will encounter new pieces and challenges, and you will have to find ways to fit them into the overall picture of your life. Some pieces may be easy to fit into place, while others may take more time and effort to find the right spot.
    But the key to completing that picture of your life is to keep working on it, to keep trying to fit the pieces together, and to never give up.
  </p>

  <p>
    As you continue to work on your puzzle, you will find that the pieces start to come together and the picture of your life becomes clearer and more complete.
  </p>

  <p>
    In the end, your life is like a jigsaw puzzle that is constantly evolving and changing. It is up to you to put the pieces together and to create the life that you want and that is our goal with .SELF ! 🙂
  </p>
</div>
