<div class="upgrade d-flex flex-column flex-wrap">
<h3>... Coming Soon ...</h3>
<%= image_tag "404-fail-mario", height: 400, width: 400 %>
</div>

<%= link_to "Back", dashboard_path, class: "btn btn-gradient" %>
