<%= link_to dashboard_path do %>
<i class='fa-solid fa-chevron-left'></i>
<% end %>

<div class="upgrade text-center">
  <h3>... Coming Soon ...</h3>
</div>
  <div class="upgrade-card">
    <p>Upgrade to the premium version of the app to get access to the following features:</p>
    <ul>
      <li>Unlimited goals</li>
      <li>Unlimited habits</li>
      <li>Puzzle of the Week / Month / Year and Life</li>
      <li>Add categories to your goals for the life Puzzle</li>
      <li>And more ...</li>
    </ul>
  </div>
