.btn-plus {
  // background-color: black;
  color: $gradient;
  border: none;
  position: fixed;
  right: 16px;
  bottom: 90px;
  width: 50px;
  height: 50px;
  font-size: xx-large;
  z-index: 1000;
}

.btn-gradient {
 background: linear-gradient(35deg, #F05454 25%, #F05454 25%, #FFBF00 75%, #FFBF00 75%);
 border-radius: 8px;
 color: white;
}

.btn-progress {
  width: 365px;
  height: 100px;
  text-decoration: none;
  border-radius: 15px;
  background: linear-gradient(35deg, #F05454 25%, #F05454 25%, #FFBF00 75%, #FFBF00 75%);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 0px 5px gray;
}
