.book-link {
  color: black;
}

.book-link:hover {
  color: gray;
}

.fa-chevron-left {
  color: black;
  font-size: x-large;
  position: fixed;
  top: 40px;
  left: 25px;
}

.links {
  margin-bottom: 90px;
}
