.pop-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-inline: 15px;
  padding: 25px;
  border-radius: 15px;
  background-color: #ffffff;
}

.new-form {
  border: none;
  background-color: transparent;
}

.modal-header {
  border: none;
}

.modal-content {
  border: none;
}

.modal {
  margin-top: 16px;
}
