.puzzles-form {
  border-radius: 15px;
  background-color: white;
  text-align: center;
  width: 350px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  flex-direction: column;
}

.puzzle-container {
align-items: center;
margin: 0 auto;
}

.puzzle {
  margin: 0 auto;
}
