.puzzles-form {
  border-radius: 15px;
  background-color: white;
  text-align: center;
  width: 300px;
  box-shadow: 0px 0px 5px gray;
}

.puzzle-container {
display: block;
align-items: center;
margin: 0 auto;
}

.puzzle {
  margin: 0 auto;
}
