<div class="container col-12">
  <div class="pop-up text-center">
    <h2>new goal</h2>
    <%= render "form", goal: @goal %>
    <%= link_to "Back to my list", goals_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>
