<% if @puzzle.completed_goals.size == 0 %>
  <%= "empty puzzle" %>
<% elsif @puzzle.completed_goals.size == 1 %>
  <%= "puzzle with 1 piece" %>
<% elsif @puzzle.completed_goals.size == 2 %>
  <%= "puzzle with 2 piece" %>
<% else %>
  <%= "puzzle completed" %>
<% end %>


<div id="jigsaw">
  <div id="piece1" class="piece"></div>
  <div id="piece2" class="piece"></div>
  <div id="piece3" class="piece"></div>
</div>
